a {
  cursor: pointer;
}

.container {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

#loginModal .modal-body {
  padding: 0 15px;
}

#loginModal .modal-content {
  width: 400px;
}
.btn-white {
  background-color: white;
  border: 2px solid #ffae60;
  color: #ffae60;
}

.login-title {
  padding: 0 15px;
}

.login-title h1 {
  color: #ffae60;
  font-size: 25px;
  text-align: center;
}

.login-title p {
  color: #273d86;
  text-align: center;
  margin: 15px 0;
}

.login-form {
  margin: 25px 0;
}

.login-submit {
  margin: 50px 0;
}

.login-submit button {
  width: 150px;
}

#login .links {
  padding-bottom: 20px;
  text-align: center;
}


#footer{
  background-color: #273d86;
    padding: 30px;

}
#footer .footer-link a{
  color: white;
  margin: 10px 20px;
}
#footer .copyright-text{
  padding: 20px;
}
#footer span{
  color: white;
}
#footer .social img{
  width: 20px;
}
#footer .social a{
  margin-right: 20px;
}

.digztr-nav {
  z-index: 10;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  height:60px;
  padding: inherit 20px;
}
.digztr-nav .active-link div {
  background-color:#eaeaea;
}

.search-btn{
  margin: 2px;
  height: 56px;
  width: 60px;;
  background: #fc4a1a !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff9d00, #ff7c19) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff9d00, #ff7c19) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.search-btn img{
  width: 35px;
  margin: 10px 12px;
}
